# Review and accept the Minecraft EULA before changing this:
# https://aka.ms/MinecraftEULA
MINECRAFT_EULA=FALSE

MINECRAFT_PORT=25565
MINECRAFT_TYPE=PAPER
MINECRAFT_VERSION=LATEST
MINECRAFT_MEMORY=2G
MINECRAFT_MOTD=Codex Paper Server
MINECRAFT_MAX_PLAYERS=10
MINECRAFT_DIFFICULTY=normal
MINECRAFT_GAMEMODE=survival
MINECRAFT_ONLINE_MODE=TRUE

ENABLE_RCON=TRUE
RCON_PASSWORD=change-me-before-deploy

